<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>

<div class="footer">
    <div class="footerContent">

        <div class="footerContentContactUS">
            <a>CONTACT US</a>
            <a>For any inquiries</a>
            <div>
                <span>phone</span>
                <a>For any inquiries</a>
            </div>
            <div>
                <span>phone</span>
                <a>info@appletwo.ca</a>
            </div>
            <div>
                <span>time</span>
                <a>09.00 a.m to 05.00 p.m Monday to Friday</a>
            </div>
            <a></a>
        </div>

        <div class="footerContentJobs"></div>
        <div>
            <p>Top Reasons to Choose Apple Two Employment for Your Staffing Needs</p>
            <p>The Top Benefits of Using HR Manpower Solutions</p>
        </div>
        <p>
            AppleTwo Employment Services © 2023, All Right Reserved
        </p>
    </div>
</div>