.navBarItemContainer {
  display: flex;
  /* justify-content:flex-end; */
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.navBarItem {}

.navBar {
  background-color: var(--main);
  color: var(--mainText);

  display: flex;
}

.navBarButtonText{
    font-size: var(--context);
}

.navBarButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: 5%;
  font-size: var(--context);

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.navBarButton:active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0.5vh 0px 0px;
}

.navBarButton:focus {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0.5vh 0px 0px;
  color: var(--yellow);
}

.navBarButton:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0.5vh 0px 0px;
  background-color: rgba(6, 24, 44, 0.4);
  border-radius: 100vh;
  color: var(--yellow);
}